
@{
    ViewData["Title"] = "Success";
}

<html>
<head>
    <title>Thanks for your checking out!</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <section>
        <p>
            Thanks you. If you have any query, please contact.
            <a href="mailto:orders@example.com">support@example.com</a>.
        </p>
    </section>
</body>
</html>
